In [1]:
import pandas as pd

In [5]:
d_link = pd.read_csv('links.csv')
d_movie = pd.read_csv('movies.csv')
d_rating = pd.read_csv('ratings.csv')
d_tag = pd.read_csv('tags.csv')

In [6]:
d_link

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9737   193581  5476944  432131.0
9738   193583  5914996  445030.0
9739   193585  6397426  479308.0
9740   193587  8391976  483455.0
9741   193609   101726   37891.0

[9742 rows x 3 columns]

In [10]:
d_link.columns

Index(['movieId', 'imdbId', 'tmdbId'], dtype='object')

In [16]:
d_link.isna().sum()

movieId    0
imdbId     0
tmdbId     8
dtype: int64

In [31]:
d_link.dropna(subset=['tmdbId'], inplace=True)

In [32]:
d_link.isna().sum()

movieId    0
imdbId     0
tmdbId     0
dtype: int64

---

In [7]:
d_movie

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [19]:
d_movie.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [20]:
d_movie.isna().sum()

movieId    0
title      0
genres     0
dtype: int64

---

In [8]:
d_rating

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [22]:
d_rating.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [21]:
d_rating.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

---

In [23]:
d_tag

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

[3683 rows x 4 columns]

In [24]:
d_tag.columns

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [25]:
d_tag.isna().sum()

userId       0
movieId      0
tag          0
timestamp    0
dtype: int64

In [30]:
merged_df = pd.merge(d_rating, d_movie, on='movieId', how='inner')
merged_df = pd.merge(merged_df, d_tag, on='movieId', how='inner')
merged_df = pd.merge(merged_df, d_link, on='movieId', how='inner')
merged_df

,userId_x,movieId,rating,timestamp_x,title,genres,userId_y,tag,timestamp_y,imdbId,tmdbId
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336,pixar,1139045764,114709,862.0
1,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,474,pixar,1137206825,114709,862.0
2,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,567,fun,1525286013,114709,862.0
3,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336,pixar,1139045764,114709,862.0
4,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,474,pixar,1137206825,114709,862.0
...,...,...,...,...,...,...,...,...,...,...,...
233208,599,176419,3.5,1516604655,Mother! (2017),Drama|Horror|Mystery|Thriller,567,uncomfortable,1525287588,5109784,381283.0
233209,599,176419,3.5,1516604655,Mother! (2017),Drama|Horror|Mystery|Thriller,567,unsettling,1525287586,5109784,381283.0
233210,594,7023,4.5,1108972356,"Wedding Banquet, The (Xi yan) (1993)",Comedy|Drama|Romance,474,In Netflix queue,1137179697,107156,9261.0
233211,606,6107,4.0,1171324428,Night of the Shooting Stars (Notte di San Lore...,Drama|War,606,World War II,1178473747,84422,42130.0
233212,606,6516,3.5,1171755910,Anastasia (1956),Drama,474,In Netflix queue,1137202127,48947,38171.0